version: '3.3'
services:
  web:
    build:
      context: .
      dockerfile: ./Dockerfile.py
    ports:
      - '7007:7007'
    volumes:
      - './axiom-uploads:/axiom-generator/uploads'
      
  db:
    container_name: labent-docker_db_1
    image: 'mysql:5.7'
    platform: linux/amd64
    volumes:
      - './mysql:/var/lib/mysql'
      - './mysql-dump:/docker-entrypoint-initdb.d/'
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: wordpress
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
    command: mysqld --user=root

  wordpress:
    depends_on:
      - db
    image: 'wordpress:latest'
    ports:
      - '8000:80'
    volumes:
      - './uploads.ini:/usr/local/etc/php/conf.d/uploads.ini'
      - './wp-content:/var/www/html/wp-content'
    environment:
      WORDPRESS_DB_HOST: 'db:3306'
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
volumes:
  db_data: {}